fastapi
pydantic
langchain
langchain-core>=0.3.35
uvicorn
openai>=1.58.1
faiss-cpu
langchain-tests  
python-multipart
pypdf
python-dotenv
tiktoken
pinecone
pinecone[grpc]
pinecone[asyncio]
langchain-pinecone
langchain-community
langchain-openai
python-docx